name: Build and Deploy AsciiDoc Docs to GitHub Pages

on:
  push:
    branches: [main]  # or your default branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 'head'
          bundler-cache: true

      - name: Install dependencies
        run: |
          gem install asciidoctor
          gem install asciidoctor-multipage

      - name: Convert AsciiDoc to HTML
        run: |
          asciidoctor -r asciidoctor-multipage -b multipage_html5 -o docs/index.html docs/main.adoc

# WRONG: no need to add the deployment step if the file to deploy is docs/index.html and is set in the repository Settings
# CORRECT: the old docs/index.html is deployed, not the one that was converted from docs/main.asciidoc
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          force_orphan: true      # without it there will be an error "fatal: Remote branch gh-pages not found in upstream origin"
